body{
    background:blue;;
	/*font-family:"Arial";*/
	/*font-family: 'Gentium Plus', serif;*/
/*font-family: 'Lato', sans-serif;*/
font-family: 'Quicksand', sans-serif;
	font-size:28px;
	color:white;
}

h1(
     text-aligh:center:
)